/**
 * Multiple File Upload
 */

/* Icons */

@font-face {
  font-family: 'icons';
  src: url('fonts/icons.eot?92711752');
  src: url('fonts/icons.eot?92711752#iefix') format('embedded-opentype'),
       url('fonts/icons.woff?92711752') format('woff'),
       url('fonts/icons.ttf?92711752') format('truetype'),
       url('fonts/icons.svg?92711752#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Instances */

.multiupload-files {
	background: none;
}

.multiupload-files ul,
.multiupload-files ol {
	margin: 0;
}

.multiupload-files .instance .content {
	display: none;
}

.multiupload-files .instance .frame-header {
	transition: background 0.45s;
}

.multiupload-files .instance .frame-header a:first-of-type {
	color: #2f77eb;
	font-size: 1.2rem;
	margin-left: 0!important;
}

.multiupload-files .instance .frame-header a:first-of-type:hover {
	color: currentColor;
}

/* Duplicator */

.multiupload-drop {
	border-radius: 5px 5px 0 0;
	padding-bottom: 0;
	margin-top: -2rem;
	margin-bottom: 0;
}

.multiupload-drop.empty {
	min-height: 0;
	height: 0;
	border: 0;
}

.multiupload-drop.empty ol {
	border: none;
	min-height: 0;
}

.multiupload-drop.empty + .multiupload-droparea {
	border-radius: 5px;
	border-top: 1px solid #d3dce2;
}

.multiupload-drop li:last-of-type {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

/* Progress bar */

.multiupload-progress {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 2%;
	height: 4px;
	background: #2f77eb;
	opacity: 0;
	-webkit-transition: width 0.25s ease-in, opacity 0.25s ease-in 0.4s;
	-moz-transition: width 0.25s ease-in, opacity 0.25s ease-in 0.4s;
	transition: width 0.25s ease-in, opacity 0.25s ease-in 0.4s;
	z-index: 10000;
}

.queued .multiupload-progress {
	opacity: 1;
}

/* Drop area */

.multiupload-droparea {
	border-radius: 0 0 5px 5px;
	background: #fff;
	border: 1px solid #d3dce2;
	border-top: none;
	text-align: center;
	padding: 20px;
	color: #b8b8b8;
}
.multiupload-drop.empty + .multiupload-droparea {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-width: 1px;
}

.multiupload-droparea span {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	display: block;
	color: rgba(0, 0, 0, 0.25);
	pointer-event: none;
}

.multiupload-droparea span::before {
	font-family: icons;
	font-size: 40px;
	color: rgba(0, 0, 0, 0.1);
	content: '\e800';
	display: block;
	line-height: 1;
}
.multiupload-droparea.multiupload-drag span::before {
	color: rgba(0, 0, 0, 0.25);
}

/* Fallback */

.multiupload-fallback {
	padding: 5px 10px !important;
}

/* Ordering */

.multiupload-files .ordering .frame-header {
	background: #2f77eb;
}

.multiupload-files .ordering a {
	color: #FFF!important;
}
