/**
 * Multiple File Upload
 */

.field-multiupload .frame {
	margin-top: 1px;
}

.field-multiupload .frame li {
	padding: 10px;
}

.field-multiupload li .frame {
	margin-bottom: 0;
}

.field-multiupload li .frame a:first-child {
	margin-top: 0;
}